In [ ]:
import pandas as pd

In [ ]:
# calculating the means of the two sample groups

lout = pd.read_csv("/content/learningOutcomes.csv", names = ["num", "activity", "score"])

In [ ]:
lout

          num   activity  score
0     5410951  activity2     53
1     5410952  activity2     79
2     5410953  activity1    207
3     5410954  activity1    179
4     5410955  activity2     68
...       ...        ...    ...
1047  5411998  activity1    148
1048  5411999  activity1     95
1049  5412000  activity2    144
1050  5412001  activity1    161
1051  5412002  activity2     48

[1052 rows x 3 columns]

In [ ]:
sampex = lout["score"].mean()
sampvar = lout["score"].var()
'''
for i in range(1,len(lout)+1) :
  sampvar += (lout["score"][i-1] - sampex)**2
sampvar  = sampvar/len(lout["score"])
'''

4373.849147558877

In [ ]:
act1 = lout[lout["activity"] == "activity1"]
act2 = lout[lout["activity"] == "activity2"]
diff = act2["score"].mean()-act1["score"].mean()

In [ ]:
diff

8.201367484263073

In [ ]:
import scipy.stats
import numpy as np

null = 0

for i in range(0,10000):
  sampleAct1 = np.random.choice(lout["score"], size = len(act1), replace = True)
  sampleAct2 = np.random.choice(lout["score"], size = len(act2), replace = True)

  if abs(sum(sampleAct1)/len(sampleAct1) - sum(sampleAct2)/len(sampleAct2)) >  diff:
    #print(abs(sum(sampleAct1)/len(sampleAct1) - sum(sampleAct2)/len(sampleAct2))) 
    null  += 1



print(null/10000)

0.0448

In [ ]:
binfo = pd.read_csv("/content/background.csv", names = ["num", "background"])
lout["background"] = binfo["background"]

In [ ]:
less = lout[lout["background"] == "less"]
more = lout[lout["background"] == "more"]
avg = lout[lout["background"] == "average"]

In [ ]:
def findpval(groupDF):
  act1 = groupDF[groupDF["activity"] == "activity1"]
  act2 = groupDF[groupDF["activity"] == "activity2"]
  diff = act2["score"].mean()-act1["score"].mean()

  print(f'Diff in Means for Activity 1 and Activity 2 is {abs(diff)}.')

  null = 0

  for i in range(0,100000):
    sampleAct1 = np.random.choice(groupDF["score"], size = len(act1), replace = True)
    sampleAct2 = np.random.choice(groupDF["score"], size = len(act2), replace = True)

    if abs(sum(sampleAct1)/len(sampleAct1) - sum(sampleAct2)/len(sampleAct2)) >  abs(diff):
      null  += 1

  print(f'P value with 100000 iterations is {null/100000}.')

In [ ]:
findpval(less)

Diff in Means for Activity 1 and Activity 2 is 26.015873015873012.
P value with 100000 iterations is 0.0005.

In [ ]:
findpval(more)

Diff in Means for Activity 1 and Activity 2 is 28.416450216450215.
P value with 100000 iterations is 0.0.

In [ ]:
findpval(avg)

Diff in Means for Activity 1 and Activity 2 is 24.984501450603148.
P value with 100000 iterations is 0.00581.

In [ ]:
grades = pd.read_csv("/content/peerGrades.csv", names = ["grade"])

In [ ]:
medians = []
for i in range(0,1000000):
  sample =  np.random.choice(grades["grade"], size = 5, replace = True)
  medians.append(np.median(sample))

In [ ]:
print(np.var(medians))

60.18815799

In [ ]:
means = []
for i in range(0,100000):
  sample =  np.random.choice(grades["grade"], size = 5, replace = True)
  means.append(np.mean(sample))

In [ ]:
print(np.var(means))

101.57394586993601