In [ ]:
import pandas as pd

gfile = pd.read_csv("/content/bats.csv")

In [ ]:
gfile

          G1     G2     G3     G4     G5      T
0       True  False   True   True  False  False
1      False  False   True   True   True   True
2       True  False   True  False  False  False
3       True  False   True   True   True  False
4      False   True   True   True   True   True
...      ...    ...    ...    ...    ...    ...
99995   True  False   True   True   True   True
99996   True   True  False  False  False  False
99997   True   True  False   True  False  False
99998  False  False   True   True   True  False
99999   True  False   True   True   True   True

[100000 rows x 6 columns]

In [ ]:
def calculatesingprob(col1, db, value):
  newdb = db[col1].value_counts()
  return newdb[value] / len(db)

In [ ]:
def calculateandprob(col1,col2, db):
  sum=0
  for i in range(0,len(db)):
    if db.at[i,col1] and db.at[i,col2] :
      sum += 1

  return sum/len(db)

In [ ]:
print(calculateandprob("G1","T",gfile))
print(calculateandprob("G2","T",gfile))
print(calculateandprob("G3","T",gfile))
print(calculateandprob("G4","T",gfile))
print(calculateandprob("G5","T",gfile))

0.2121
0.09089
0.29212
0.29703
0.29434

In [ ]:
def calculatecondprob(col1,col2, db):
  sum=0
  for i in range(0,len(db)):
    if db.at[i,col1] and db.at[i,col2] :
      sum += 1

  return sum/len(db)

In [ ]:
print(calculatesingprob("G1", gfile, True)) #the same
print(calculatesingprob("G2", gfile, True)  ) #the same
print(calculatesingprob("G3", gfile, True) )
print(calculatesingprob("G4", gfile, True) )
print(calculatesingprob("G5", gfile, True) )
print(calculatesingprob("T", gfile, True) )

0.70228
0.30076
0.5009
0.80162
0.32705
0.30079

In [ ]:
print(calculatesingprob("G1", gfile, True) * calculatesingprob("T", gfile, True)) #the same
print(calculatesingprob("G2", gfile, True) * calculatesingprob("T", gfile, True) ) #the same
print(calculatesingprob("G3", gfile, True) * calculatesingprob("T", gfile, True))
print(calculatesingprob("G4", gfile, True) * calculatesingprob("T", gfile, True))
print(calculatesingprob("G5", gfile, True) * calculatesingprob("T", gfile, True))
print(calculatesingprob("T", gfile, True) * calculatesingprob("T", gfile, True))

0.2112388012
0.09046560040000001
0.150665711
0.2411192798
0.0983733695
0.0904746241

In [ ]:
firstflips = "TTHTHHTHTTTHHTTHHTTHHHTHHTHTTHTHTTHHTHHHTTHTHTTTHHTTHTHTHTHTHTTHTHTHHHTTHTHTHHTHHHTHTHTTHTTHHTHTHTHTTHHTTHTHTTHHHTHTHTHTTHTTHHTTHTHHTHHHTTHHTHTTHTHTHTHTHTHTHHHTHTHTHTHHTHHTHTHTTHTTTHHTHTTTHTHHTHHHHTTTHHTHTHTHTHHHTTHHTHTTTHTHHTHTHTHHTHTTHTTHTHHTHTHTTT"
secondflips = "THTTTTHHHHTHTHTTHTTTHTTHTTTTHTHHTHHHHTTTTTHHHHTHHHTTTTHTHTTHHHHTHHHHHHHHTTHHTHHTHHHHHHHTTHTHTTTHHTTTTHTHHTTHTTHTHTHTTHHHHHTTHTTTHTHTHHTTTTHTTTTTHHTHTHHHHTTTTHTHHHTHHTHTHTHTHHHTHTTHHHTHHHHHHTHHHTHTTTHHHTTTHHTHTTHHTHHHTHTTHTTHTTTHHTHTHTTTTHTHTHTTHTHTHT"
listofrunlens1 = []
listofrunlens2 = []
hcount1 = 0
hcout2 = 0
prevchar = "T"
runlen1 = 0


for char in firstflips:
  if char == "H":
    hcount +=1
  if char == prevchar:
    runlen1 +=1
  else:
    listofrunlens1.append(runlen1)
    runlen1 = 0